<h4 class="ui center aligned large icon header">
  <i class="circular red comment icon"></i>
  SAY SOMETHING
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">FOLLOWERS ACTIVITY</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a>SAMPLE TEXT</a> <a>SAMPLE TEXT 2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            HOME
          </a>
          <a class="item">
            MESSAGES
          </a>
          <a class="item">
            FRIENDS
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
